# Webstorm config
.idea/

# Logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# OS Globals
thumbs.db
.DS_Store